html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: inherit;
}

.image {
  height: 99.5%;
  width: auto;
}

#images {
  text-align: center;
}

#left-image, #right-image {
  display: inline-block;
}