html, body, #images, #left-image, #right-image {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: inherit;
}

img {
  height: 99%;
  width: auto;
}

#images {
  margin: 0 auto;
}

#left-image, #right-image {
  display: inline-block;
}